@font-face {
  font-family: 'roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'admiration-pains';
  src: url('/fonts/Admiration\ Pains.ttf') format('truetype');
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

input {
  font-family: roboto;
}

@import 'blocks/header';
@import 'blocks/alert';
@import 'blocks/suggestions';
@import 'blocks/field';
@import 'blocks/button';
@import 'blocks/menu';
@import 'blocks/content';
@import 'blocks/sidebar';
@import 'blocks/mainbar';
@import 'blocks/box';
@import 'blocks/taglist';
@import 'blocks/thumbnail';
@import 'blocks/cover';
@import 'blocks/form';
@import 'blocks/pagination';
