<div class="sidabar sidebar--top" ui-view></div>
<div class="mainbar mainbar--full">
  <div class="mainbar__strap">
    <ul class="menu menu--icon">
      <li ui-sref="^" class="menu__item">
        <i class="fa fa-close"></i>
      </li>
    </ul>
  </div>
  <img ng-src="{{recipeCtrl.recipe.cover_wide}}" ng-show='recipeCtrl.recipe.cover_wide' class="cover">
  <img src="http://lorempixel.com/1200/300/food/1" ng-hide='recipeCtrl.recipe.cover_wide' class="cover">
  <h1>{{recipeCtrl.recipe.name}}</h1>
  <div class="content">
    <div class="mainbar mainbar--thinner">
      <h3>Directions</h3>
      <div ng-bind-html="recipeCtrl.recipe.directions"></div>
    </div>
    <div class="sidebar sidebar--wider">
      <h4>Ingredients</h4>
      <ul>
        <li ng-repeat="recipes_ingredient in recipeCtrl.recipe.recipes_ingredients">{{recipes_ingredient.ingredient.name}} ({{recipes_ingredient.amount}})</li>
      </ul>
    </div>
  </div>
</div>
