.button {
  line-height: 39px;
  margin: 10px 5px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.5s ease;
  font-size:  16px;
  font-weight: 300;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.button--success {
  background-color: #0056AA;
}

.button--success:hover {
  background-color: #0E87FB;
}
