.field {
  position: relative;
}

.field__input {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0px 10px 10px;
  padding-left: 10px;
  margin: 10px 0;
  font-weight: 200;
  border-radius: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  outline: none;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
}

.field__input--hidden {
  display: none;
}

.field__thumbnail {
  max-width: 36px;
  position: absolute;
  right: 5px;
  top: 3px;
}

.field__label {
  font-size: 12px;
  margin-top: -7px;
}

.field__label--danger {
  color: red;
}
