.mainbar {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  padding: 30px 20px 40px 30px;
}

.mainbar--full {
  width: 100%;
}

.mainbar--thinner {
  padding: 10px 15px 40px 15px;
  width: 70%;
}

.mainbar__strap{
  position: absolute;
  text-align: right;
}
