.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.menu--main {
  margin-left: auto;
}

.menu--icon {
  font-size: 40px;
  padding: 0 10px;
}

.menu__item {
  display: inline-block;
  margin: 0 5px;
}

.menu--icon .menu__item {
  margin: 0;
}

.menu__link {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.menu__link:link, .menu__link:visited, .menu__link:active {
  color: #fff;
}

.menu__link:hover {
  color: #ccc;
}
