.pagination {
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 16px 0 8px 0;
}

.pagination li {
  background-color: #A2A116;
  display: inline-block;
  padding: 3px 8px;
  margin: 0 2px;
}

.pagination a {
  text-decoration: none;
  color: #fff;
}

.pagination .active {
  font-weight: bold;
}

.pagination .disabled {
  background-color: #E0E4CC;
}
