.suggestions {
  margin: 0;
  padding: 10px 5px;
  position: absolute;
  z-index: 400;
  background-color: #fff;
  list-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.suggestions::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  content: " ";
  position: absolute;
  top: -10px;
}

.suggestions__item {
  padding: 2px 4px;
  cursor: pointer;
}

.suggestions__item:hover {
  background-color: #57f;
}
