.taglist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.taglist__tag {
  line-height: 34px;
  font-size: 12px;
  display: inline-block;
  background-color: #34DBB4;
  padding: 0 10px;
  margin: 2px 3px;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
