.thumbnail__list {
}

.thumbnail {
  width: 99%;
  margin-top: 25px;
  position: relative;
  padding-bottom: 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
}

.thumbnail:after {
  content: " ";
  display: block;
  clear: both;
}

.thumbnail__image {
  display: block;
  float: left;
}

.thumbnail__link {
}

.thumbnail__label {
  float: right;
  clear: right;
  font-size: 26px;
  color: #000;
  font-weight: 200px;
  text-decoration: none;
  text-align: right;
}

.thumbnail__label--sublabel {
  font-size: 14px;
}

.thumbnail__description {
  text-decoration: none;
}
