<form novalidate ng-submit="recipeForm.$valid && formCtrl.saveRecipe()" name="recipeForm">
  <div class="content">
    <div class="mainbar mainbar--thinner">
      <div class="field">
        <input ng-model="formCtrl.recipe.name" name="name" class="field__input" placeholder="Title" required>
        <div ng-messages="recipeForm.name.$error" role="alert">
          <div ng-message="required" class="field__label field__label--danger">This field is required</div>
        </div>
      </div>
      <div class="field">
        <textarea ng-model="formCtrl.recipe.directions" class="field__input" rows="17" name="directions" placeholder="Directions" required></textarea>
        <div ng-messages="recipeForm.directions.$error" role="alert">
          <div ng-message="required" class="field__label field__label--danger">This field is required</div>
        </div>
      </div>
      <div class="field">
        <div ngf-drop ngf-select ng-model="formCtrl.cover" name="cover" class="field__input" ng-required="!formCtrl.currentCover">
          Drop file here
          <img ngf-src="formCtrl.cover || formCtrl.currentCover" class="field__thumbnail">
        </div>
        <div ng-messages="recipeForm.cover.$error" role="alert">
          <div ng-message="required" class="field__label field__label--danger">This field is required</div>
        </div>
      </div>
      <div class="field">
        <input type="submit" class="button button--success"/>
      </div>
    </div>
    <div class="sidebar sidebar--wider">
      <search-ingredients collection="formCtrl.ingredients" search-name="formCtrl.searchName"></search-ingredients>
      <div class="field">
        <input type="number" ng-model="formCtrl.ingredients.length" name="numberOfIngredients" min="1" class="field__input field__input--hidden">
        <div ng-messages="recipeForm.numberOfIngredients.$error" role="alert">
          <div ng-message="min" class="field__label field__label--danger">
            Recipe have to has at least 1 ingredient
          </div>
        </div>
      </div>
      <ul>
        <li ng-repeat="ingredient in formCtrl.ingredients track by $index">
          {{ingredient.name}} <i class="fa fa-times" ng-click="formCtrl.dropIngredient(ingredient)"></i>
          <input type="text" ng-model="ingredient.amount" name="ingredients{{$index}}" class="field__input" required/>
          <div ng-messages="recipeForm['ingredients'+$index].$error" role="alert">
            <div ng-message="required" class="field__label field__label--danger">This field is required</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</form>
