<div class="header">
  <form id="mainSearchForm" ng-submit='recipesCtrl.search(recipesCtrl.searchName, recipesCtrl.chosenIngredients)' class="form form--main-search">
    <search-ingredients collection="recipesCtrl.selectedIngredients" search-name="recipesCtrl.searchName"></search-ingredients>
    <button type="submit" class="form__dismiss" ng-click="recipesCtrl.clearSearchName()" ng-show="recipesCtrl.searchName"><i class="fa fa-times"></i></button>
  </form>
  <button type="submit" form="mainSearchForm" value="Submit" class="button button--success">
    <i class="fa fa-search"></i>Search
  </button>
  <ul class="menu menu--main">
    <li class="menu__item"><a ui-sref="app.recipes" class="menu__link" ng-click="recipesCtrl.clearSearchParams()">Home</a></li>
    <li ng-hide='appCtrl.currentUser.instance.id' class="menu__item"><a ng-click="appCtrl.currentUser.login()" class="menu__link">Login</a></li>
    <li ng-show="appCtrl.currentUser.instance.id" class="menu__item"><a ui-sref="app.recipes.new_recipe" class="menu__link">New Recipe</a></li>
    <li ng-show="appCtrl.currentUser.instance.id" class="menu__item">Welcome, <a class="menu__link">{{appCtrl.currentUser.instance.first_name}}</a></li>
  </ul>
</div>
<div class="content content--main" ui-view>
    <div class="sidebar">
      <div class="box box--underlined">
        <div ng-show="recipesCtrl.selectedIngredients.length">
          <ul class="taglist">
            <li ng-repeat="ingredient in recipesCtrl.selectedIngredients" ng-click="recipesCtrl.selectedIngredients.dropElement(ingredient)" class="taglist__tag">
              {{ingredient.name}}  <i class="fa fa-times"></i>
            </li>
          </ul>
        </div>
        <div ng-hide="recipesCtrl.selectedIngredients.length">
          No ingredients selected
        </div>
      </div>
    </div>
    <div class="mainbar">
      <dir-pagination-controls></dir-pagination-controls>
      <div class="thumbnail__list">
        <div dir-paginate='recipe in recipesCtrl.recipes | itemsPerPage: 7' class="thumbnail">
          <a ui-sref="app.recipes.recipe({recipeId: recipe.id})" class="thumbnail__link">
            <img class="thumbnail__image" ng-src="{{recipe.cover_thumb}}" ng-show='recipe.cover_thumb'>
            <img class="thumbnail__image" src="http://lorempixel.com/246/176/food/2" ng-hide='recipe.cover_thumb'>
          </a>
          <a ui-sref="app.recipes.recipe({recipeId: recipe.id})" class="thumbnail__link">
            <div class="thumbnail__label">
              {{recipe.name}}
            </div>
          </a>
            <div class="thumbnail__label thumbnail__label--sublabel">
          <a ng-show='appCtrl.currentUser.canEdit(recipe)' ui-sref="app.recipes.edit_recipe({recipeId: recipe.id})">
              Edit <i class="fa fa-pencil"></i>
          </a>
          <a ng-show='appCtrl.currentUser.canEdit(recipe)' ui-sref="app.recipes.recipe.destroy_recipe({recipeId: recipe.id})">
              Remove <i class="fa fa-trash"></i>
          </a>
        </div>
      </div>
      <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
