<div class="alert alert--danger">
  Are you sure that you want to destroy this recipe?
  <a ng-click="destroyRecipeCtrl.destroyRecipe()"><i class="fa fa-check"></i></a>
  <a ui-sref="^"><i class="fa fa-times"></i></a>
</div>
